body {background-color: rgb(0, 0, 0);}


#header{
    width: 110vw;
    height: 5vh;
    background-color: rgb(180, 155, 87);
    position: sticky;
    top: 0%;
    margin-top: -1vh;
    margin-left: -5vw;
    font-size: 2vh;
    text-align: center;
}

.header_button{
    vertical-align: middle;
    border-color: rgba(0, 0, 0, 0.596);
    margin-top: 1.5vh;
    width: 15vw;
}

#logo{
    position: relative;
    margin-left: calc((1vh - 0.25vw) *20 ) ;
    float: left;
    touch-action: none;
}

#canvas_three{
    width: 40vw;
    height: 30vh;
}

#tittle{
    position: relative;
    display:inline-block;
    float: left;
    margin-left:auto;
    margin-right:auto;
}

#main{
    margin-left: 5vw;
    float: left;
}

.infobox{
    background-color: beige;
    width: 110vw;
    margin-left: 0vw;
}

.subtittle{
    font-size: 2vw;
    color: black;
}

.text{
    font-size: 1vw;
    color: black;
}

h1{
    display:inline-block;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
   
}

p{
    color: rgb(255, 255, 255);
}

